<configuration debug="false">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <outputPatternAsHeader>false</outputPatternAsHeader>
            <pattern>%gray(%.-8d{HH:mm:ss}) %highlight(%-5level) %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>8192</queueSize>
        <neverBlock>true</neverBlock>
        <appender-ref ref="STDOUT" />
    </appender>

    <root level="info"><appender-ref ref="ASYNC"/></root>
    <logger name="tga.backup.files.YandexFileOps" level="debug" />



</configuration>
